.cardName {
    background: #66bfda;

    display: flex;
    width: 35%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;

    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;

}